table {
    border-collapse: collapse;
    border: none;
}

input[type="button"] {
    width: 100%;
    border-radius: 5px;
}

body {
    background-color: aliceblue;
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#equal {
    background-color: green;
}

#clear {
    background-color: red;
}

#result {
    border-radius: 5px;
}